{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Budget</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script>
        function validateBudget() {
            var maximumAmount = parseFloat('{{ form.maximum_amount.value }}');
            var enteredAmount = parseFloat(document.getElementById('id_maximum_amount').value);
            
            if (enteredAmount > maximumAmount) {
                alert("Hello, sorry you can't go beyond the budget you set which is $" + maximumAmount);
                return false;
            }
            
            return true;
        }
    </script>
</head>
<body>
    <nav class="navbar-left">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="navbar-link">
                <i class="fas fa-home"></i><span class="icon-space">Home</span>
            </a>
            <a href="{% url 'add_transaction' %}" class="navbar-link">
                <i class="fas fa-plus-circle"></i><span class="icon-space">Add Transaction</span>
            </a>
            <a href="{% url 'transaction_list' %}" class="navbar-link">
                <i class="fas fa-list"></i><span class="icon-space">View Transaction List</span>
            </a>
            <a href="{% url 'manage_budget' %}" class="navbar-link"><i class="fas fa-chart-bar"></i>Manage Budgets</a>
        </nav>    </nav>

        <div class="container">
            <h1>Add Budget</h1>
            {% if message %}
            <div class="success-message">{{ message }}</div>
            {% endif %}
            <form method="post" onsubmit="return validateBudget();" class="transaction-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add Budget</button>
            </form>
        </div>
</body>
</html>
