<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Wallet App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar-left">
        <a href="{% url 'home' %}" class="navbar-link"><i class="fas fa-home"></i>Home</a>
        <a href="{% url 'add_transaction' %}" class="navbar-link"><i class="fas fa-plus-circle"></i>Add Transaction</a>
        <a href="{% url 'transaction_list' %}" class="navbar-link"><i class="fas fa-list"></i>View Transaction List</a>
        <!-- Add additional links here -->
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
