{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<style>
    .table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 80%;
        box-shadow: 0 0 20px blue;
        margin-left: 10%;
        margin-top: 3%;
    }
    th{
        background-color: #f8f9fa;
        color: #1e90ff;
        text-align: center;
        padding: 12px 15px;
    }
    td{
        padding: 20px 30px;
        text-align: center;
    }
    
    h1,h2,h3,p{
        text-align: center;  
    }
</style>
<body>
    
    <nav class="navbar">
        <a href="{% url 'home' %}" class="navbar-link">
            <i class="fas fa-home"></i><span class="icon-space">Home</span>
        </a>
        <a href="{% url 'add_transaction' %}" class="navbar-link">
            <i class="fas fa-plus-circle"></i><span class="icon-space">Add Transaction</span>
        </a>
        <a href="{% url 'set_budget' %}" class="navbar-link">
            <i class="fas fa-dollar-sign"></i><span class="icon-space">Set Budget</span>
        </a>
        <a href="{% url 'generate_report' %}" class="navbar-link">
            <i class="fas fa-chart-bar"></i><span class="icon-space">Generate Report</span>
        </a>
    </nav>
    <section class="middle-content">
        <div class="container-center">
            <div class="container-main">
                <h1>Welcome to Your Wallet App!</h1>
                <h3>Transactions:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date and Time</th>
                            <th>Account Type</th>
                            <th>Amount</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.account_type }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.category }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Total Expenses: {{ total_expenses }}</h2>
                <h2> Total Budgets: {{ total_budgets }}</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </section>
    
</body>
</html>
