{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Manage Budgets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar-left">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="navbar-link">
                <i class="fas fa-home"></i><span class="icon-space">Home</span>
            </a>
            <a href="{% url 'add_transaction' %}" class="navbar-link">
                <i class="fas fa-plus-circle"></i><span class="icon-space">Add Transaction</span>
            </a>
            <a href="{% url 'transaction_list' %}" class="navbar-link">
                <i class="fas fa-list"></i><span class="icon-space">View Transaction List</span>
            </a>
            <a href="{% url 'manage_budget' %}" class="navbar-link"><i class="fas fa-chart-bar"></i>Manage Budgets</a>
        </nav>    </nav>

    <div class="container">
        <h1>Manage Budgets</h1>
        {% for budget in budgets %}
        <ul class="transaction-list">
            <li >{{ budget.account }} - ${{ budget.maximum_amount }}</li>
        {% endfor %}
    </ul>
        <a style="color: #1e90ff;" href="{% url 'add_budget' %}" class="navbar-link"><i class="fas fa-wallet"></i>Add Budget</a>
    </div>
</body>
</html>
